WebContent/wsdl/ResultsService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://acad.perushinkov.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://acad.perushinkov.com" xmlns:intf="http://acad.perushinkov.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://acad.perushinkov.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getResults">
    <complexType>
     <sequence>
      <element name="userName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getResultsResponse">
    <complexType>
     <sequence>
      <element name="getResultsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getResultsResponse">

      <wsdl:part element="impl:getResultsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getResultsRequest">

      <wsdl:part element="impl:getResults" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ResultsService">

      <wsdl:operation name="getResults">

         <wsdl:input message="impl:getResultsRequest" name="getResultsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getResultsResponse" name="getResultsResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ResultsServiceSoapBinding" type="impl:ResultsService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getResults">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getResultsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getResultsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ResultsServiceService">

      <wsdl:port binding="impl:ResultsServiceSoapBinding" name="ResultsService">

         <wsdlsoap:address location="http://localhost:8080/client-server-example/services/ResultsService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
